.header {
  background-color: #e1853d;
  text-align: center;
  height: fit-content;
  color: azure;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header h1 {
  margin: 0;
  font-size: 3vw;
}

.header p {
  margin: 0;  
  font-size: 1.5vw;
}

.main-page{
  display: flex;
  flex-direction: column;
}
.button1 a{
  color: white;
}
.button1 a:focus{
  color: #e1853d;; /* Màu chữ cho liên kết chưa được chọn */
}
.button1 a:hover{
  color: #e1853d;; /* Màu chữ cho liên kết chưa được chọn */
}
.tabs-large-devices{
  padding-top: 15px;
  padding-bottom: 30px;
  /* display: flex; */
  justify-content: flex-start;
}

.double-rectangle{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.sing-rec{
  width: 100px;
  height: 30px;
  background: #e1853d;
  /* color: white; */
  align-items: center;
  text-align: center;
  padding: 7px;
}
.button1 {
  padding: 10px 50px;
  background: #e1853d;
  /* color: white; */
  align-items: center;
  text-align: center;

}
.button1:hover{
  background-color: #f2f2f2;
  color: #e1853d;
  font-weight: bold;
}
.button1:focus{
  background-color: #f2f2f2;
  color: #e1853d;
  font-weight: bold;
}
.tabs-large-devices .hyperlink {
  
  background:white;
  text-align: center;  
  padding-right: 10px;
  
}
.tabs-large-devices .hyperlink a{
  color: black;
  font-size: 1.5vw;
}

.tabs-large-devices .hyperlink a:focus{
  color: #e1853d; /* Màu sẽ thay đổi khi bạn chọn liên kết */
}
.tabs-large-devices .hyperlink a:hover{
  color: #e1853d; /* Màu sẽ thay đổi khi bạn chọn liên kết */
}
ul{
  margin: 0;
  padding: 0;
}
.info-overview {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 40px;
}
.info-overview .avatar{
  width: 300px; /* Kích thước cố định cho avatar */
  height: 300px; /* Kích thước cố định cho avatar */
  overflow: hidden; /* Để ảnh không tràn ra ngoài phần giới hạn */
  
}
.info-overview .avatar img{
  width: 100%; /* Kích thước cố định cho avatar */
  height: 100%; /* Kích thước cố định cho avatar */
  object-fit: cover; /* Để ảnh không tràn ra ngoài phần giới hạn */
}


.info-overview .profile{  
  padding-left: 30px; /* Khoảng cách từ hình ảnh đến lề trái */
}

.info-overview .profile .infor{
  display: flex;
  flex-direction: row;
}
.info-overview .profile .infor .col-label{
  font-weight: bold;
  font-size: 1.3vw;
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 10px;
}
.info-overview .profile .infor .col-content{
  font-weight: normal;
  font-size: 1.3vw;
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.info-detail{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.title{
  font-size: 2vw;
  font-weight: bold;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content-script{
  font-size:1.3vw;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
  padding-right:10pt;
}
.info-detail .content-script .head p{
  margin:0%;
  padding-bottom: 10px;
  font-weight: bold;
}
.info-detail .content-script p{
  margin:0%;
  padding-bottom: 10px;
  padding-top: 5px;
  
}

.more-infor{
  display: flex;
  flex-direction: column;
}

.body-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}
   
.left-column {
  border-right: 1px solid #e1853d;   
  width: 80%
}
  
.right-column {
  padding-left: 10px;
  padding-top: 50px;
  width: 20%;
}
.bold{
  font-weight: bold;
  font-size: 1.2vw;
}
a{
  font-size: 1.2vw;
}

li{
  display: flex;
  flex-direction: row;
}

.group-tables{
  padding: 7px;
}
.modified-table-var1{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  border: 1px solid gray ;
  
}
.modified-table-var2{
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  border: 1px solid gray ;
  
}
.col1{
  border-right: 0.5px solid gray;
  padding-right: 40px;
  padding-left: 10px;
}
li::before{
  font-weight: bold;
}
li::after{
  font-weight: normal;
}


.row{
  display: flex;
  flex-direction: column;
  height: 30px;  
  text-align: left;  
  justify-content: center;
}
.row3{
  display: flex;
  flex-direction: column;
  height: 30px;  
  text-align: left;  
  justify-content: center;
}
.col2 .row{
  display: flex;
  flex-direction: column;
  height: 30px;  
  text-align: left;  
  justify-content: center;
  padding-left: 10px;
}
p > span {
  display: inline-block;
  font-weight: bold;
  width: 150px;
  font-family:Arial, Helvetica, sans-serif;
}

table {
  width: 98%;
  border: 1px solid black;
  border-collapse: collapse;
}
  
th, td {
  width: 33.33%;
  border: 1px solid antiquewhite;
  padding: 8px;
  text-align: left;
  font-size: 1.3vw;
}
  
thead tr {
  background-color: #e1853d;
  color: azure;
}
tbody tr:nth-child(odd) {
  background-color: #f2f2f2; /* Màu nền xám */
}

footer {
  background-color: #f2f2f2; /* Màu nền xám */
  padding: 10px; /* Thêm khoảng cách để tạo khoảng trống */
  text-align: center;
  height: fit-content;
  font-size: 1.3vw;
}
h1
{
  font-size: 3vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2
{
  font-size: 2vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
 
@media only screen and (min-width: 1024px) {
  /* desktop */
  .tabs-small-devices{
    display: none;
  }
  .career-info-desktop{
    /* display: block;   */
    display: flex;
    flex-direction: column;
  }
  .info-overview .profile .more-infor{
    display: none;
  }
  .right-column{
    /* padding-left:10px;
    padding: 0; */
  }
  .right-column .more-infor p{
  font-size: 1.3vw;
  }
  
  .main-page .tabs-large-devices{
    display: none;
  }
  .main-page .body-container .left-column .tabs-large-devices{
    display: flex;
  }
  .right-column .career-info-smaller-devices{
    display:none;
  }
  .career-info-smaller-devices{
    display: none;
  }
  .right-column .info-detail{
    display: none;
  }
} 

@media only screen and (min-width: 481px) and (max-width: 1023px) {
   /* tablet */
  .header{
    background: white;
    color:#e1853d
  }
  .main-page .header p{
    color: black;
  }
  /* h1{
    font-size: 28pt;
  } */
  .info-overview .profile .infor .col-label{
    width: 30%;
  }
  .info-overview .profile .infor .col-label p{
    width: fit-content;
    height: fit-content;
  }
  
  .career-info-desktop{
    display: none;
  }
  .main-page .tabs-large-devices{
    display: flex;

  }
  .main-page .body-container .left-column .tabs-large-devices{
    display: none;
  }
  .left-column{
    width:50%;
    background: #f2f2f2;
    border-right: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .right-column{
    width: 50%;
    /* display: block; */
    display: flex;
    flex-direction: column;
    padding-left: 10pt;
    font-size: fit-width;
    
  }
  a{
    font-size: 2vw;
  }
  .bold{
    font-size: 2vw;
  }
  .profile .more-infor p{
    font-size:2vw
  }
  .body-container{
    flex-direction: row;
  }
  .info-overview{
    flex-direction: column;
  }
  .info-overview .avatar{
    width: 85%; /* Kích thước cố định cho avatar */
    height: fit-content; /* Kích thước cố định cho avatar */
  }
  .info-overview .profile{
    padding-left: none;
    align-items: center;
    /* text-align: center; */

  }
  .info-overview .profile h1{
    color:#e1853d;
  }
  .tabs-large-devices .hyperlink a{
    font-size: 2vw;
  }
  .tabs-small-devices{
    display: none;
  }
  .right-column .more-infor{
    display: none;
  }
  .right-column .career-info-smaller-devices{
    display: flex;
    flex-direction: column;
  }
  .career-info-smaller-devices{
    display: none;
  }
  .left-column .info-detail{
    display: none;
  }
  .content-script{
    font-size: 2vw;
  }
  .title{
    font-size: 2vw;
  }
  .info-overview .profile h1{
    font-size:3vw;
  }
  .info-overview .profile h2{
    font-size:2vw;
  }
  .info-overview .profile .infor .col-content{
    font-size:2vw;

  }
  .info-overview .profile .infor .col-label{
    font-size: 2vw;
  }
  /* li{
    font-size: 18pt;
  } */
  
  .row{
    font-size: 2vw;
  }
  footer{
    font-size: 2vw;
  }
  .main-page .header p{
    font-size:2vw;
  }

}

 @media only screen and (min-width: 321px) and (max-width: 480px) { 
  /* mobile L */
  .header{
    background: white;
    color:#e1853d;
  }
  .header h1{
    font-size: 5vw;
  }
  /* h1{
    font-size: 15pt;
  } */
  .header p{
    color: black;
    font-size: 4vw;
  }
  .main-page .tabs-large-devices{
    display: none;
  }
  .main-page .body-container .left-column .tabs-large-devices{
    display: none;
  }
  a{
    font-size: 3vw;
  }
  .bold{
    font-size: 3vw;
  }
  .info-overview .profile .infor .col-label{
    font-size: 3.5vw;
  }
  .info-overview .profile .infor .col-content{
    font-size: 3.5vw;
  }
  .content-script{
    padding-right: 7pt;
    font-size: 3vw;
  }
  .info-detail .content-script{
    padding-left: 7pt;
  }
  .info-overview .profile{
    padding-left: 20px;
  }

  .tabs-small-devices{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;    

  }
  .space{
    padding:3pt;
  }
  .career-info-desktop{
    display: none;
  }
  .right-column{
    display: none;
  }
  .left-column{
    width: 100%;
  }
  .info-overview .profile h1{
    text-align: center;
    font-size: 5vw;
    color: #e1853d;
  }
  .info-overview{
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f2f2f2;
  }
  
  .left-column{
    border-right: none;
  }
  
  h2{
    text-align: center;
    font-size:4vw;
  }
  .info-overview .avatar{
    width: 85%;
    height: fit-content;
  }
  .double-rectangle{
    padding: 5px;
    width: 50%;
  }
  .left-column .info-detail{
    display: flex;
    background: white;
    padding-top: 20px;
  }
  .group-tables{
    background-color: white;
  }
  .left-column .info-detail .title{
    background-color: white;
    color: #e1853d;
    text-decoration: underline;
  }
  .left-column .career-info-smaller-devices .title{
    background-color: white;
    color: #e1853d;
    text-decoration: underline;
  }
  .title{
    text-align: center;
    font-size: 4vw;
  }
  .col1{
    width: 25%;
  }
  .info-overview .profile{
    padding-left: 5%;
  }
  .info-detail .content-script{
    padding-left: 10px;
  }
  .profile .more-infor p{
    font-size: 3vw;
  }
  .row{
    font-size: 4vw;
  }
  footer{
    font-size: 3vw;
  }


}

@media only screen and (max-width: 320px) {
  .header{
    background-color:white;
  }
  .header h1{
    font-size: 5vw;
    color: #e1853d;
  }
  .header p{
    color: black;
    font-size: 3.5vw;
  }
  a{
    font-size: 5vw;
  }
  .main-page .tabs-large-devices{
    display: none;
  }
  .main-page .body-container .left-column .tabs-large-devices{
    display: none;
  }
  .space{
    padding:3px;
  }
  .double-rectangle{
    padding: 3px;
  }
  .right-column{
    display: none;
  }
  .left-column{
    width: 100%;
    border-right: none;
  }  
  .info-overview .avatar{
    width: 85%;
    height: fit-content;
  } 
  .info-overview{
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f2f2f2;
  }
  .info-overview .profile{
    padding-left: 5%;
  }
  h1{
    font-size:6vw;
    text-align: center;
    color: #e1853d;
  }
  h2{
    font-size: 5vw;
    text-align: center;
  }
  .info-overview .profile .infor .col-label {
    font-size: 3.5vw;
  }
  .info-overview .profile .infor .col-content{
    font-size: 3.5vw;
  }
  .info-overview{
    padding-bottom: 10px;
  }
  .info-detail{
    padding-top: 20px;
  }
  .career-info-desktop{
    display: none;
  }
  .left-column .info-detail .title{
    background-color: white;
    color: #e1853d;
    text-decoration: underline;
  }
  .left-column .career-info-smaller-devices .title{
    background-color: white;
    color: #e1853d;
    text-decoration: underline;
  }
  .title{
    text-align: center;
    font-size: 4vw;
  }
  .content-script{
    font-size: 3.5vw;
  }
  ul li a{
    font-size: 3.5vw;
  }
  .bold{
    font-size: 3.5vw;
  }
  .profile .more-infor p{
    font-size: 3.5vw;
  }
  .info-detail .content-script{
    padding-left: 10px;
  }
  .row{
    font-size: 4.5vw;
  }
  footer{
    font-size: 3.5vw;
  }

}